// SPDX-License-Identifier: Apache-2.0
pragma solidity ^0.8.0;
import { {{contract_name}} } from "{{contract_path}}";
contract SmtCheck_{{attack_id_ident}} {
    {{contract_name}} public target;
    constructor() { target = new {{contract_name}}(); }
    function exercise(bytes32 h, uint8 v, bytes32 r, bytes32 s) public { target.authorize(h, v, r, s); }
}
