// SPDX-License-Identifier: Apache-2.0
pragma solidity ^0.8.0;
import { {{contract_name}} } from "{{contract_path}}";
contract SmtCheck_{{attack_id_ident}} {
    {{contract_name}} public target;
    constructor() { target = new {{contract_name}}(); }
    function exercise(address a) public { target.setAdmin(a); }
}
